@model Usuarios;

<form asp-controller = "Login" asp-action= "LogaUsuario" method= "post">
    <label>Username:</label>
    <input asp-for="Username" type="text" name="Username"/>
    
    <label>Password:</label>
    <input asp-for="Password" type="password" name="Password"/>

    <input type="submit" value="Enviar" />
</form>
