
<form asp-controller = "Login" asp-action= "LogaUsuario" method= "post">
    <label>Nome Usuario:</label>
    <input type="text" name="Username"/>
    
    <label>Senha:</label>
    <input type="password" name="Senha"/>

    <input type="submit" value="Enviar" />
</form>
