@using SistemaDeLogin.AplicationIdentity.Requests
@model LoginRequest
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @if (Model != null)
        {
            @Model.Username
        }
    </p>
</div>